html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,

/* Ann */

article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

@font-face {
    font-family: pn-bold;
    src: url('https://d.devnow.cn/travelclub2019/fonts/PorscheNextTT-Bold.ttf');
    url: ('https://d.devnow.cn/travelclub2019/fonts/PorscheNextTT-Bold.ttf');
}

@font-face {
    font-family: pn-bold-italic;
    src: url('https://d.devnow.cn/travelclub2019/fonts/PorscheNextTT-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'pn-italic';
    src: url('https://d.devnow.cn/travelclub2019/fonts/PorscheNextTT-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'pn-regular';
    src: url(https://d.devnow.cn/travelclub2019/fonts/PorscheNextTT-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'pn-thin';
    src: url('https://d.devnow.cn/travelclub2019/fonts/PorscheNextTT-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'pn-thin-italic';
    src: url('https://d.devnow.cn/travelclub2019/fonts/PorscheNextTT-ThinItalic.ttf') format('truetype');
}

body {
    line-height: 1;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

a,
img {
    outline: 0 !important;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    *+height: 1%;
}

.bg-attach-ment {
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    zoom: 1;
}

.ib {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.pr {
    position: relative;
}

.pa {
    position: absolute;
}

.pf {
    position: fixed;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.table {
    display: table;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
}

.block {
    display: block;
    max-width: 100%;
}

.inline-block {
    display: inline-block;
}

.border-bottom-yel {
    border-bottom: 1px solid #be9353;
}

.justify {
    text-align: justify;
}

.justify_fix,
.justify-fix {
    display: inline-block;
    width: 100%;
    height: 0;
    overflow: hidden;
}

.tl {
    text-align: left;
}

.tc {
    text-align: center;
}

.tr {
    text-align: right;
}

.no-border {
    border: none !important;
}

.no-bt {
    border-top: none !important;
}

.no-br {
    border-right: none !important;
}

.no-bb {
    border-bottom: none !important;
}

.no-bl {
    border-left: none !important;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.vux-pop-out-enter-active,
.vux-pop-out-leave-active,
.vux-pop-in-enter-active,
.vux-pop-in-leave-active {
    will-change: transform;
    transition: all 800ms;
    height: 100%;
    top: 0;
    position: absolute !important;
    backface-visibility: hidden;
    perspective: 1000;
}

.vux-pop-out-enter {
    opacity: 1;
    transform: translate3d(-100%, 0, 0);
}

.vux-pop-in-leave-active {
    opacity: 1;
    transform: translate3d(-100%, 0, 0);
}

.vux-pop-out-leave-active {
    opacity: 1;
    transform: translate3d(100%, 0, 0);
}

.vux-pop-in-enter {
    opacity: 1;
    transform: translate3d(100%, 0, 0);
}


#app{
    transition: all .4s;
}